<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentation</title>
    <link rel="stylesheet" href="index.css">
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <section id="content">
        <div id="header">
            <div>
                <h1><input type="text"></h1>
            </div>
            <div>
                <h3><input type="text"></h3>
            </div>

        </div>
        <div id="text">
            <p><textarea></textarea></p>
        </div>

    </section>
    <aside>
        <!-- background color -->
        <div class="controls">
            <p>background</p>
            <div id="background-color" class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Background Color
                </button>
                <ul class="dropdown-menu">
                    <li id="white"><a class="dropdown-item">white</a></li>
                    <li id="black"><a class="dropdown-item">black</a></li>
                    <li id="blue"><a class="dropdown-item">blue</a></li>
                    <li id="green"><a class="dropdown-item">green</a></li>
                    <li id="grey"><a class="dropdown-item">grey</a></li>
                    <li id="orange"><a class="dropdown-item">orange</a></li>
                    <li id="pink"><a class="dropdown-item">pink</a></li>
                </ul>
            </div>
        </div>

        <!-- Header color -->
        <div class="controls">
            <p>Text</p>
            <div id="header-color" class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Header Color
                </button>
                <ul class="dropdown-menu">
                    <li id="white"><a class="dropdown-item">white</a></li>
                    <li id="black"><a class="dropdown-item">black</a></li>
                    <li id="blue"><a class="dropdown-item">blue</a></li>
                    <li id="green"><a class="dropdown-item">green</a></li>
                    <li id="grey"><a class="dropdown-item">grey</a></li>
                    <li id="orange"><a class="dropdown-item">orange</a></li>
                    <li id="pink"><a class="dropdown-item">pink</a></li>
                </ul>
            </div>
        </div>

        <!-- Subtitle color -->
        <div class="controls">
            <p>Text</p>
            <div id="subtitle-color" class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Subtitle Color
                </button>
                <ul class="dropdown-menu">
                    <li id="white"><a class="dropdown-item">white</a></li>
                    <li id="black"><a class="dropdown-item">black</a></li>
                    <li id="blue"><a class="dropdown-item">blue</a></li>
                    <li id="green"><a class="dropdown-item">green</a></li>
                    <li id="grey"><a class="dropdown-item">grey</a></li>
                    <li id="orange"><a class="dropdown-item">orange</a></li>
                    <li id="pink"><a class="dropdown-item">pink</a></li>
                </ul>
            </div>
        </div>

        <!-- paragraph color -->
        <div class="controls">
            <p>Text</p>
            <div id="paragraph-color" class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Paragraph Color
                </button>
                <ul class="dropdown-menu">
                    <li id="white"><a class="dropdown-item">white</a></li>
                    <li id="black"><a class="dropdown-item">black</a></li>
                    <li id="blue"><a class="dropdown-item">blue</a></li>
                    <li id="green"><a class="dropdown-item">green</a></li>
                    <li id="grey"><a class="dropdown-item">grey</a></li>
                    <li id="orange"><a class="dropdown-item">orange</a></li>
                    <li id="pink"><a class="dropdown-item">pink</a></li>
                </ul>
            </div>
        </div>

    </aside>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- Javascript -->
    <script src="index.js"></script>
</body>

</html>