/*** MAIN ***/
html {
    height: 100%;
}
body {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: row;
}


/*** CONTENT ***/
section {
    width: 80%;
    min-height: 100vh;
    background-color: blue;
    text-align: center;
    padding: 50px;
}

#content #header {
    color: white;
    height: 30%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#content #header div {
    height: 50%;
    display: flex;
    align-items: center;
}

#content h1,
#content h3 {
    width: 100%;
}

#content h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#content input,
#content textarea {
    border: 1px solid lightblue;
    text-align: center;
    color: white;
    width: 100%;
    background-color: blue;
}

#content #text {
    height: 70%;
}

#content p,
#content textarea {
    height: 100%;
    width: 100%;
}

#content textarea {
    font-size: 2rem;
}




/*** CONTROLS ***/
aside {
    width: 20%;
    min-height: 100vh;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    padding: 50px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

aside .controls {
    padding: 20px;
}

aside p {
    text-align: center;
}