/*** MAIN ***/
html {
    height: 100%;
}

body {
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: black;
}


/*** HEADER ***/
header nav {
    background-color: black;
    min-height: 5vh;
    min-width: 100%;
    display: flex;
    flex-flow: row;
}

header #nav-left,
header #nav-right {
    width: 50%;
    display: flex;
    align-items: center;
}

header #nav-left {
    margin-left: 50px;
}

header #nav-right a {
    color: white;
    text-decoration: none;
    margin: 10px;
}



/*** MAIN ***/
main {
    display: flex;
    flex-flow: row;
    min-height: 90vh;
}


/*** CONTENT ***/
section {
    width: 80%;
    min-height: 100%;
    background-color: blue;
    text-align: center;
    padding: 0 0 20px 0;
}

section #header {
    color: white;
    height: 30%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 50px;
}

section #header div {
    height: 50%;
    display: flex;
    align-items: center;
}

section h1,
section h3 {
    width: 100%;
}

section h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    display: flex;
    flex-flow: column;
    align-items: center;
}

section input,
section textarea {
    border: 1px solid lightblue;
    text-align: center;
    color: white;
    width: 100%;
    background-color: blue;
}

section #text {
    height: 60%;
    padding: 0 50px 20px 50px;
}

section p,
section textarea {
    height: 100%;
    width: 100%;
}

section textarea {
    font-size: 2rem;
}

section #bottom-area {
    height: 70px;
    background-color: black;
    padding: 0;
    margin: 0;
}



/*** CONTROLS ***/
aside {
    width: 20%;
    /* min-height: 100vh; */
    background-color: lightgrey;
    padding: 50px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

aside .controls {
    padding: 20px;
}

aside p {
    text-align: center;
}